In [1]:
import  pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [2]:
df=pd.read_csv('Proffessional_survey.csv',encoding='latin1')

In [3]:
df

,Unique ID,Email,Date Taken (America/New_York),Time Taken (America/New_York),Browser,OS,City,Country,Referrer,Time Spent,...,Q6 - How Happy are you in your Current Position with the following? (Management),Q6 - How Happy are you in your Current Position with the following? (Upward Mobility),Q6 - How Happy are you in your Current Position with the following? (Learning New Things),Q7 - How difficult was it for you to break into Data?,"Q8 - If you were to look for a new job today, what would be the most important thing to you?",Q9 - Male/Female?,Q10 - Current Age,Q11 - Which Country do you live in?,Q12 - Highest Level of Education,Q13 - Ethnicity
0,62a33b3db4da29969c62df3d,anonymous,6/10/2022,8:38,NaN,NaN,NaN,NaN,NaN,0:00:44,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,62a33ba1bae91e4b8b82e35c,anonymous,6/10/2022,8:40,NaN,NaN,NaN,NaN,NaN,0:01:30,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,62a33c2cbc6861bf3176bec1,anonymous,6/10/2022,8:42,NaN,NaN,NaN,NaN,NaN,0:02:18,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,62a33c8624a26260273822f9,anonymous,6/10/2022,8:43,NaN,NaN,NaN,NaN,NaN,0:02:10,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,62a33c91f3072dd892621e03,anonymous,6/10/2022,8:44,NaN,NaN,NaN,NaN,NaN,0:01:51,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,62b525563f28f20328aeee5c,anonymous,6/23/2022,22:45,NaN,NaN,NaN,NaN,NaN,0:00:50,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,62b5a3e29bc428d5345f6e89,anonymous,6/24/2022,7:45,NaN,NaN,NaN,NaN,NaN,0:03:12,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,62b71083f31287f32e189026,anonymous,6/25/2022,9:41,NaN,NaN,NaN,NaN,NaN,0:04:43,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,62b795033b026e423f287ecd,anonymous,6/25/2022,19:06,NaN,NaN,NaN,NaN,NaN,0:02:17,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,62b89039377223ff07b80fb5,anonymous,6/26/2022,12:58,NaN,NaN,NaN,NaN,NaN,0:01:19,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [4]:
df.columns

Index(['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)', 'Browser', 'OS', 'City', 'Country',
       'Referrer', 'Time Spent',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [5]:
drop_columns=['Unique ID', 'Email', 'Date Taken (America/New_York)',
       'Time Taken (America/New_York)',
       'Referrer', 'Time Spent']
df=df.drop(columns=drop_columns,axis=1)

In [6]:
df.columns

Index(['Browser', 'OS', 'City', 'Country',
       'Q1 - Which Title Best Fits your Current Role?',
       'Q2 - Did you switch careers into Data?',
       'Q3 - Current Yearly Salary (in USD)',
       'Q4 - What Industry do you work in?',
       'Q5 - Favorite Programming Language',
       'Q6 - How Happy are you in your Current Position with the following? (Salary)',
       'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)',
       'Q6 - How Happy are you in your Current Position with the following? (Coworkers)',
       'Q6 - How Happy are you in your Current Position with the following? (Management)',
       'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)',
       'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)',
       'Q7 - How difficult was it for you to break into Data?',
       'Q8 - If you were to look for a new job today, what would be the most important thing to you?',
       'Q9 - Male/Female?', 'Q10 - Current Age',
       'Q11 - Which Country do you live in?',
       'Q12 - Highest Level of Education', 'Q13 - Ethnicity'],
      dtype='object')

In [7]:
replace_columns={'Q1 - Which Title Best Fits your Current Role?':'role',
                'Q2 - Did you switch careers into Data?':'switch_careers',
                'Q3 - Current Yearly Salary (in USD)':'salary',
                'Q4 - What Industry do you work in?':'industry',
                'Q5 - Favorite Programming Language':'programming_language',
                'Q6 - How Happy are you in your Current Position with the following? (Salary)':'happiness_position',
                'Q6 - How Happy are you in your Current Position with the following? (Work/Life Balance)':'happiness_work/life_balace',
                'Q6 - How Happy are you in your Current Position with the following? (Coworkers)':'hapinnes_coworkres',
                 'Q6 - How Happy are you in your Current Position with the following? (Management)':'happiness_management',
                 'Q6 - How Happy are you in your Current Position with the following? (Upward Mobility)':'happiness_upward_mobility',
                'Q6 - How Happy are you in your Current Position with the following? (Learning New Things)':'happiness_learning', 
                 'Q7 - How difficult was it for you to break into Data?':'difficulty', 
                 'Q8 - If you were to look for a new job today, what would be the most important thing to you?':'important_new_job',
                 'Q9 - Male/Female?':'sex', 
                 'Q10 - Current Age':'age',
                 'Q11 - Which Country do you live in?':'country',
                 'Q12 - Highest Level of Education':'education',
                 'Q13 - Ethnicity':'ethnicity'
                  }
df=df.rename(columns=replace_columns)

In [8]:
df

,Browser,OS,City,Country,role,switch_careers,salary,industry,programming_language,happiness_position,...,happiness_management,happiness_upward_mobility,happiness_learning,difficulty,important_new_job,sex,age,country,education,ethnicity
0,NaN,NaN,NaN,NaN,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,...,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,NaN,NaN,NaN,NaN,Data Analyst,No,41k-65k,Finance,R,1.0,...,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,NaN,NaN,NaN,NaN,Data Engineer,No,0-40k,Other (Please Specify):Clean Energy,Python,0.0,...,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Other (Please Specify):Nigeria,NaN,Black or African American
3,NaN,NaN,NaN,NaN,Other (Please Specify):Analytics Consultant,Yes,150k-225k,Finance,R,10.0,...,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,NaN,NaN,NaN,NaN,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,...,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,NaN,NaN,NaN,NaN,Data Analyst,Yes,125k-150k,Other (Please Specify):Retail,R,8.0,...,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,NaN,NaN,NaN,NaN,Other (Please Specify):Data Scientist Intern,No,0-40k,Other (Please Specify):Manufacturing,R,4.0,...,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,NaN,NaN,NaN,NaN,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,...,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Other (Please Specify):Oman,Bachelors,Asian or Asian American
628,NaN,NaN,NaN,NaN,Data Engineer,No,0-40k,Tech,Python,6.0,...,6.0,4.0,3.0,Easy,Other (Please Specify):Career Advancedment,Male,24,Other (Please Specify):Costa Rica,Bachelors,Hispanic or Latino
629,NaN,NaN,NaN,NaN,Data Analyst,No,41k-65k,Other (Please Specify):Automotive,Python,8.0,...,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [9]:
df.isna().sum()

Browser                       630
OS                            630
City                          630
Country                       630
role                            0
switch_careers                  0
salary                          0
industry                        0
programming_language            0
happiness_position              7
happiness_work/life_balace     10
hapinnes_coworkres             11
happiness_management           12
happiness_upward_mobility      13
happiness_learning              5
difficulty                      0
important_new_job               0
sex                             0
age                             0
country                         0
education                      52
ethnicity                       0
dtype: int64

In [10]:
drop_columns=['Browser', 'OS', 'City',
       'Country'
       ]
df=df.drop(columns=drop_columns,axis=1)

In [11]:
df.isna().sum()

role                           0
switch_careers                 0
salary                         0
industry                       0
programming_language           0
happiness_position             7
happiness_work/life_balace    10
hapinnes_coworkres            11
happiness_management          12
happiness_upward_mobility     13
happiness_learning             5
difficulty                     0
important_new_job              0
sex                            0
age                            0
country                        0
education                     52
ethnicity                      0
dtype: int64

In [12]:
df['role'].unique()

array(['Data Analyst', 'Data Engineer',
       'Other (Please Specify):Analytics Consultant ', 'Data Scientist',
       'Student/Looking/None', 'Other (Please Specify):FP&A Analyst',
       'Other (Please Specify):BI Developer ',
       'Other (Please Specify):Manager, Business Intelligence Develop',
       'Other (Please Specify):Business Analyst ',
       'Other (Please Specify):Business Analyst',
       'Other (Please Specify):Business Intelligence Consultant',
       'Other (Please Specify):Sr. Supply Chain Analyst ',
       'Other (Please Specify):Business analyst ',
       'Other (Please Specify):Director of Data Analytics',
       'Other (Please Specify):Learning Management Specialist',
       'Other (Please Specify):Research Analyst',
       'Other (Please Specify):Insights analyst',
       'Other (Please Specify):Does a social media analyst count?',
       'Other (Please Specify):Educator',
       'Other (Please Specify):Business Intelligence Engineer',
       'Other (Please Specify):Research Associate ',
       'Other (Please Specify):Analytics Manager',
       'Other (Please Specify):Manager of a team of Data Analysts',
       'Other (Please Specify):Analyst',
       'Other (Please Specify):Analytics Engineer',
       'Other (Please Specify):Analyst Primary Market Intelligence',
       'Other (Please Specify):software engineer', 'Data Architect',
       'Other (Please Specify):Data Integrity', 'Database Developer',
       'Other (Please Specify):Financial Analyst',
       'Other (Please Specify):Database Manager',
       'Other (Please Specify):Software Developer ',
       'Other (Please Specify):Tableau admin', 'Other (Please Specify)',
       'Other (Please Specify):Reporting Adm',
       'Other (Please Specify):Billing analyst',
       'Other (Please Specify):I work with data tools and can create simple dashboards but I am not a data scientist',
       'Other (Please Specify):Marketing Data Specialist',
       'Other (Please Specify):Jr. Data Scientist',
       'Other (Please Specify):Continuous Quality Improvement Specialist',
       'Other (Please Specify):PMO',
       'Other (Please Specify):System Administrator',
       'Other (Please Specify):Teacher',
       'Other (Please Specify):Consultant',
       'Other (Please Specify):Business Intelligence Developer',
       'Other (Please Specify):Informatics Specialist',
       'Other (Please Specify):Business Analys',
       'Other (Please Specify):Finance Analyst ',
       'Other (Please Specify):Web Developer',
       'Other (Please Specify):Manager ',
       'Other (Please Specify):Junior Software Engineer',
       'Other (Please Specify):Researchers ',
       'Other (Please Specify):Senior Business Analyst',
       'Other (Please Specify):Data Coordinator',
       'Other (Please Specify):Student working as a data analyst intern ',
       'Other (Please Specify):Driver',
       'Other (Please Specify):Data manager',
       'Other (Please Specify):GIS Analyst ',
       'Other (Please Specify):Business Intelligence Analyst',
       'Other (Please Specify):BI consultant ',
       'Other (Please Specify):DBA',
       'Other (Please Specify):Data Steward',
       'Other (Please Specify):Technical consulta',
       'Other (Please Specify):Software Engineer, AI ',
       'Other (Please Specify):Systems configuration ',
       'Other (Please Specify):Sales & marketing',
       'Other (Please Specify):RF Engineer',
       'Other (Please Specify):Support Engineer',
       'Other (Please Specify):Account manager',
       'Other (Please Specify):Incident Manager',
       'Other (Please Specify):Product owner',
       'Other (Please Specify):Presales Engineer ',
       'Other (Please Specify):Predictive Analyst',
       'Other (Please Specify):Ads operations',
       'Other (Please Specify):Power Bi Developer',
       'Other (Please Specify):Software support',
       'Other (Please Specify):Investigation specialist',
       'Other (Please Specify):Director',
       'Other (Please Specify):Data Manager',
       'Other (Please Specify):SAP Security Analyst',
       'Other (Please Specify):BI Manager',
       'Other (Please Specify):Data Scientist Intern'], dtype=object)

In [13]:
df['role'] = df['role'].str.replace('Other (Please Specify):', ' ')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\3706359592.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['role'] = df['role'].str.replace('Other (Please Specify):', ' ')

In [14]:
df['role'].unique()

array(['Data Analyst', 'Data Engineer',
       'Other (Please Specify):Analytics Consultant ', 'Data Scientist',
       'Student/Looking/None', 'Other (Please Specify):FP&A Analyst',
       'Other (Please Specify):BI Developer ',
       'Other (Please Specify):Manager, Business Intelligence Develop',
       'Other (Please Specify):Business Analyst ',
       'Other (Please Specify):Business Analyst',
       'Other (Please Specify):Business Intelligence Consultant',
       'Other (Please Specify):Sr. Supply Chain Analyst ',
       'Other (Please Specify):Business analyst ',
       'Other (Please Specify):Director of Data Analytics',
       'Other (Please Specify):Learning Management Specialist',
       'Other (Please Specify):Research Analyst',
       'Other (Please Specify):Insights analyst',
       'Other (Please Specify):Does a social media analyst count?',
       'Other (Please Specify):Educator',
       'Other (Please Specify):Business Intelligence Engineer',
       'Other (Please Specify):Research Associate ',
       'Other (Please Specify):Analytics Manager',
       'Other (Please Specify):Manager of a team of Data Analysts',
       'Other (Please Specify):Analyst',
       'Other (Please Specify):Analytics Engineer',
       'Other (Please Specify):Analyst Primary Market Intelligence',
       'Other (Please Specify):software engineer', 'Data Architect',
       'Other (Please Specify):Data Integrity', 'Database Developer',
       'Other (Please Specify):Financial Analyst',
       'Other (Please Specify):Database Manager',
       'Other (Please Specify):Software Developer ',
       'Other (Please Specify):Tableau admin', 'Other (Please Specify)',
       'Other (Please Specify):Reporting Adm',
       'Other (Please Specify):Billing analyst',
       'Other (Please Specify):I work with data tools and can create simple dashboards but I am not a data scientist',
       'Other (Please Specify):Marketing Data Specialist',
       'Other (Please Specify):Jr. Data Scientist',
       'Other (Please Specify):Continuous Quality Improvement Specialist',
       'Other (Please Specify):PMO',
       'Other (Please Specify):System Administrator',
       'Other (Please Specify):Teacher',
       'Other (Please Specify):Consultant',
       'Other (Please Specify):Business Intelligence Developer',
       'Other (Please Specify):Informatics Specialist',
       'Other (Please Specify):Business Analys',
       'Other (Please Specify):Finance Analyst ',
       'Other (Please Specify):Web Developer',
       'Other (Please Specify):Manager ',
       'Other (Please Specify):Junior Software Engineer',
       'Other (Please Specify):Researchers ',
       'Other (Please Specify):Senior Business Analyst',
       'Other (Please Specify):Data Coordinator',
       'Other (Please Specify):Student working as a data analyst intern ',
       'Other (Please Specify):Driver',
       'Other (Please Specify):Data manager',
       'Other (Please Specify):GIS Analyst ',
       'Other (Please Specify):Business Intelligence Analyst',
       'Other (Please Specify):BI consultant ',
       'Other (Please Specify):DBA',
       'Other (Please Specify):Data Steward',
       'Other (Please Specify):Technical consulta',
       'Other (Please Specify):Software Engineer, AI ',
       'Other (Please Specify):Systems configuration ',
       'Other (Please Specify):Sales & marketing',
       'Other (Please Specify):RF Engineer',
       'Other (Please Specify):Support Engineer',
       'Other (Please Specify):Account manager',
       'Other (Please Specify):Incident Manager',
       'Other (Please Specify):Product owner',
       'Other (Please Specify):Presales Engineer ',
       'Other (Please Specify):Predictive Analyst',
       'Other (Please Specify):Ads operations',
       'Other (Please Specify):Power Bi Developer',
       'Other (Please Specify):Software support',
       'Other (Please Specify):Investigation specialist',
       'Other (Please Specify):Director',
       'Other (Please Specify):Data Manager',
       'Other (Please Specify):SAP Security Analyst',
       'Other (Please Specify):BI Manager',
       'Other (Please Specify):Data Scientist Intern'], dtype=object)

In [15]:
df['role'] = df['role'].str.replace(r'Other \(Please Specify\):', '')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\1187835134.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['role'] = df['role'].str.replace(r'Other \(Please Specify\):', '')

In [16]:
df['role'].unique()

array(['Data Analyst', 'Data Engineer', 'Analytics Consultant ',
       'Data Scientist', 'Student/Looking/None', 'FP&A Analyst',
       'BI Developer ', 'Manager, Business Intelligence Develop',
       'Business Analyst ', 'Business Analyst',
       'Business Intelligence Consultant', 'Sr. Supply Chain Analyst ',
       'Business analyst ', 'Director of Data Analytics',
       'Learning Management Specialist', 'Research Analyst',
       'Insights analyst', 'Does a social media analyst count?',
       'Educator', 'Business Intelligence Engineer',
       'Research Associate ', 'Analytics Manager',
       'Manager of a team of Data Analysts', 'Analyst',
       'Analytics Engineer', 'Analyst Primary Market Intelligence',
       'software engineer', 'Data Architect', 'Data Integrity',
       'Database Developer', 'Financial Analyst', 'Database Manager',
       'Software Developer ', 'Tableau admin', 'Other (Please Specify)',
       'Reporting Adm', 'Billing analyst',
       'I work with data tools and can create simple dashboards but I am not a data scientist',
       'Marketing Data Specialist', 'Jr. Data Scientist',
       'Continuous Quality Improvement Specialist', 'PMO',
       'System Administrator', 'Teacher', 'Consultant',
       'Business Intelligence Developer', 'Informatics Specialist',
       'Business Analys', 'Finance Analyst ', 'Web Developer', 'Manager ',
       'Junior Software Engineer', 'Researchers ',
       'Senior Business Analyst', 'Data Coordinator',
       'Student working as a data analyst intern ', 'Driver',
       'Data manager', 'GIS Analyst ', 'Business Intelligence Analyst',
       'BI consultant ', 'DBA', 'Data Steward', 'Technical consulta',
       'Software Engineer, AI ', 'Systems configuration ',
       'Sales & marketing', 'RF Engineer', 'Support Engineer',
       'Account manager', 'Incident Manager', 'Product owner',
       'Presales Engineer ', 'Predictive Analyst', 'Ads operations',
       'Power Bi Developer', 'Software support',
       'Investigation specialist', 'Director', 'Data Manager',
       'SAP Security Analyst', 'BI Manager', 'Data Scientist Intern'],
      dtype=object)

In [17]:
role_to_replace={'Manager, Business Intelligence Develop':'Business Intelligence Developer',
                 'BI Developer ':'BI Developer',
                 'Business Analyst ':'Business Analyst',
                 'Business analyst ':'Business Analyst',
                 'Director of Data Analytics':'Data Analyst',
                 'Insights analyst':'Insights Analyst',
                 'Analytics Manager':'Data Analyst',
                 'Manager of a team of Data Analysts':'Data Analyst',
                 'Analyst':'Data Analyst',
                 'software engineer':'Software Engineer',
                 'Jr. Data Scientist':'Data Scientist',
                 'Business Analys':'Business Analyst',
                 'Junior Software Engineer':'Software Engineer',
                 'Researchers ':'Researchers',
                  'Senior Business Analyst':'Business Analyst',
                 'Student working as a data analyst intern ':'Student',
                 'DBA':'Data Analyst',
                 'Technical consulta':'Technical consultant',
                 'Software Engineer, AI ':'Software Engineer',
                 'Data Scientist Intern':'Data Scientist'
                 }
df['role']=df['role'].replace(role_to_replace)

In [18]:
df['role'].unique()

array(['Data Analyst', 'Data Engineer', 'Analytics Consultant ',
       'Data Scientist', 'Student/Looking/None', 'FP&A Analyst',
       'BI Developer', 'Business Intelligence Developer',
       'Business Analyst', 'Business Intelligence Consultant',
       'Sr. Supply Chain Analyst ', 'Learning Management Specialist',
       'Research Analyst', 'Insights Analyst',
       'Does a social media analyst count?', 'Educator',
       'Business Intelligence Engineer', 'Research Associate ',
       'Analytics Engineer', 'Analyst Primary Market Intelligence',
       'Software Engineer', 'Data Architect', 'Data Integrity',
       'Database Developer', 'Financial Analyst', 'Database Manager',
       'Software Developer ', 'Tableau admin', 'Other (Please Specify)',
       'Reporting Adm', 'Billing analyst',
       'I work with data tools and can create simple dashboards but I am not a data scientist',
       'Marketing Data Specialist',
       'Continuous Quality Improvement Specialist', 'PMO',
       'System Administrator', 'Teacher', 'Consultant',
       'Informatics Specialist', 'Finance Analyst ', 'Web Developer',
       'Manager ', 'Researchers', 'Data Coordinator', 'Student', 'Driver',
       'Data manager', 'GIS Analyst ', 'Business Intelligence Analyst',
       'BI consultant ', 'Data Steward', 'Technical consultant',
       'Systems configuration ', 'Sales & marketing', 'RF Engineer',
       'Support Engineer', 'Account manager', 'Incident Manager',
       'Product owner', 'Presales Engineer ', 'Predictive Analyst',
       'Ads operations', 'Power Bi Developer', 'Software support',
       'Investigation specialist', 'Director', 'Data Manager',
       'SAP Security Analyst', 'BI Manager'], dtype=object)

In [19]:
df['switch_careers'].unique()

array(['Yes', 'No'], dtype=object)

In [20]:
df['industry'].unique()

array(['Healthcare', 'Finance', 'Other (Please Specify):Clean Energy',
       'Other (Please Specify):Coworking space ',
       'Other (Please Specify):Retail', 'Telecommunication',
       'Other (Please Specify):Logistics',
       'Other (Please Specify):Igaming', 'Tech', 'Education',
       'Construction', 'Other (Please Specify):Aviation',
       'Other (Please Specify):Insurance',
       'Other (Please Specify):Energy',
       'Other (Please Specify):Oil and gas', 'Other (Please Specify)',
       'Other (Please Specify):Automotive',
       'Other (Please Specify):Automotive ',
       'Other (Please Specify):Utili',
       'Other (Please Specify):Not working yet',
       'Other (Please Specify):Manufa',
       'Other (Please Specify):Manufacturing (Chemicals)',
       'Other (Please Specify):Currently studying . Previously worked in Power Generation',
       'Other (Please Specify):Not working at the moment, but previously I have been into Education industry',
       'Other (Please Specify):Third Party Logistics ',
       'Other (Please Specify):Food & Beverage ',
       'Other (Please Specify):Marketing',
       'Other (Please Specify):Advertising',
       'Other (Please Specify):Staffing and Recruting ',
       'Other (Please Specify):Biotech',
       'Other (Please Specify):Consulting',
       'Other (Please Specify):Consumer Elec',
       'Other (Please Specify):Semiconductor manufacturing',
       'Other (Please Specify):Supply Chain - warehousing, transpiration and ',
       'Other (Please Specify):Distribution',
       'Other (Please Specify):Customer Service',
       'Other (Please Specify):Ecom', 'Other (Please Specify):Consulti',
       'Other (Please Specify):State Government',
       'Other (Please Specify):Culture',
       'Other (Please Specify):Government',
       'Other (Please Specify):Manufacturing',
       'Other (Please Specify):Cons', 'Other (Please Specify):Wholesale',
       'Other (Please Specify):Energy ',
       'Other (Please Specify):Government programs',
       'Other (Please Specify):Supply Chain',
       'Other (Please Specify):Entertainment',
       'Other (Please Specify):Aerospace',
       'Other (Please Specify):Foodservice Franchising',
       'Other (Please Specify):Government ',
       'Other (Please Specify):Entertainment ',
       'Other (Please Specify):Energy (oil and gas)',
       'Other (Please Specify):Market research',
       'Other (Please Specify):hospitality', 'Real Estate',
       'Other (Please Specify):Chemical Manufacturing',
       'Other (Please Specify):Poultry',
       'Other (Please Specify):Renewable Resources',
       'Other (Please Specify):Customer service ',
       'Other (Please Specify): Manufacturering ',
       'Other (Please Specify):sports',
       'Other (Please Specify):fashion/online store',
       'Other (Please Specify):I am a student',
       'Other (Please Specify):Marketing ',
       'Other (Please Specify):Hospitality ', 'Agriculture',
       'Other (Please Specify):Medical industry ',
       'Other (Please Specify):Management',
       'Other (Please Specify):Warehouse',
       'Other (Please Specify):Non profit Animal Welfare',
       'Other (Please Specify):Insurance ', 'Other (Please Specify):none',
       'Other (Please Specify):Social work ',
       'Other (Please Specify):E-commerce', 'Other (Please Specify):IT',
       'Other (Please Specify):Legal',
       'Other (Please Specify):Media & advertising ',
       'Other (Please Specify):Utilities',
       'Other (Please Specify):Audit Firm',
       'Other (Please Specify):Sports',
       'Other (Please Specify):Sports/Marketing',
       'Other (Please Specify):Nonprofit',
       'Other (Please Specify):Law Enforcement',
       'Other (Please Specify):last mile delivery logistics',
       'Other (Please Specify):Arrosp',
       'Other (Please Specify):Demography and Social Statistics ',
       'Other (Please Specify):i`m currently student',
       'Other (Please Specify):None', 'Other (Please Specify):Manuf',
       'Other (Please Specify):Student',
       'Other (Please Specify):Automobile Industry',
       'Other (Please Specify):Fmcg',
       'Other (Please Specify):NGO - Legislation ',
       'Other (Please Specify):Culinary',
       'Other (Please Specify):Customer support ',
       'Other (Please Specify):Cosmetics ',
       'Other (Please Specify):Digital Mar',
       'Other (Please Specify):Home maker ',
       'Other (Please Specify):I am student. ',
       'Other (Please Specify):Unemployed, trying to switch career',
       'Other (Please Specify):Utilities ',
       'Other (Please Specify):Maritime',
       'Other (Please Specify):Ecommerce',
       'Other (Please Specify):Electronics',
       'Other (Please Specify):Logistics and warehousing',
       'Other (Please Specify):Public transport',
       'Other (Please Specify):Urbanism', 'Other (Please Specify):Reta',
       'Other (Please Specify):Avia', 'Other (Please Specify):State',
       'Other (Please Specify):Looking for job',
       'Other (Please Specify):Sensors',
       'Other (Please Specify):Professional Services',
       'Other (Please Specify):Food and bece',
       'Other (Please Specify):Research (non-clincial)',
       'Other (Please Specify):Gover', 'Other (Please Specify):Defense',
       'Other (Please Specify):Foodservice',
       'Other (Please Specify):Data insights company',
       'Other (Please Specify):Not currently working',
       'Other (Please Specify):Food and Beverages',
       'Other (Please Specify):Government Administration',
       'Other (Please Specify):Outsourcing ',
       'Other (Please Specify):Cobsukting',
       'Other (Please Specify):Workforce ',
       'Other (Please Specify):General contractor',
       'Other (Please Specify):Police / Emergency Services',
       'Other (Please Specify):Consumer retail',
       'Other (Please Specify):Home and living',
       'Other (Please Specify):Non Profit Organization',
       'Other (Please Specify):Air transpo',
       'Other (Please Specify):Distribution ',
       'Other (Please Specify):None for now',
       'Other (Please Specify):Retails',
       'Other (Please Specify):Digital Marketing ',
       'Other (Please Specify):Homelessness',
       'Other (Please Specify):Retail ',
       'Other (Please Specify):Direct Marketing',
       'Other (Please Specify):FMCG',
       'Other (Please Specify):Taking bootcamp',
       'Other (Please Specify):Space & Defense',
       'Other (Please Specify):Automobile (cars)',
       'Other (Please Specify):Interning in Sciences, Weather and Meteorological data',
       'Other (Please Specify):Beverage and foods',
       'Other (Please Specify):Transportation'], dtype=object)

In [21]:
df['industry'] = df['industry'].str.replace(r'Other \(Please Specify\):', '')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\2998223601.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['industry'] = df['industry'].str.replace(r'Other \(Please Specify\):', '')

In [22]:
df['industry'].unique()

array(['Healthcare', 'Finance', 'Clean Energy', 'Coworking space ',
       'Retail', 'Telecommunication', 'Logistics', 'Igaming', 'Tech',
       'Education', 'Construction', 'Aviation', 'Insurance', 'Energy',
       'Oil and gas', 'Other (Please Specify)', 'Automotive',
       'Automotive ', 'Utili', 'Not working yet', 'Manufa',
       'Manufacturing (Chemicals)',
       'Currently studying . Previously worked in Power Generation',
       'Not working at the moment, but previously I have been into Education industry',
       'Third Party Logistics ', 'Food & Beverage ', 'Marketing',
       'Advertising', 'Staffing and Recruting ', 'Biotech', 'Consulting',
       'Consumer Elec', 'Semiconductor manufacturing',
       'Supply Chain - warehousing, transpiration and ', 'Distribution',
       'Customer Service', 'Ecom', 'Consulti', 'State Government',
       'Culture', 'Government', 'Manufacturing', 'Cons', 'Wholesale',
       'Energy ', 'Government programs', 'Supply Chain', 'Entertainment',
       'Aerospace', 'Foodservice Franchising', 'Government ',
       'Entertainment ', 'Energy (oil and gas)', 'Market research',
       'hospitality', 'Real Estate', 'Chemical Manufacturing', 'Poultry',
       'Renewable Resources', 'Customer service ', ' Manufacturering ',
       'sports', 'fashion/online store', 'I am a student', 'Marketing ',
       'Hospitality ', 'Agriculture', 'Medical industry ', 'Management',
       'Warehouse', 'Non profit Animal Welfare', 'Insurance ', 'none',
       'Social work ', 'E-commerce', 'IT', 'Legal',
       'Media & advertising ', 'Utilities', 'Audit Firm', 'Sports',
       'Sports/Marketing', 'Nonprofit', 'Law Enforcement',
       'last mile delivery logistics', 'Arrosp',
       'Demography and Social Statistics ', 'i`m currently student',
       'None', 'Manuf', 'Student', 'Automobile Industry', 'Fmcg',
       'NGO - Legislation ', 'Culinary', 'Customer support ',
       'Cosmetics ', 'Digital Mar', 'Home maker ', 'I am student. ',
       'Unemployed, trying to switch career', 'Utilities ', 'Maritime',
       'Ecommerce', 'Electronics', 'Logistics and warehousing',
       'Public transport', 'Urbanism', 'Reta', 'Avia', 'State',
       'Looking for job', 'Sensors', 'Professional Services',
       'Food and bece', 'Research (non-clincial)', 'Gover', 'Defense',
       'Foodservice', 'Data insights company', 'Not currently working',
       'Food and Beverages', 'Government Administration', 'Outsourcing ',
       'Cobsukting', 'Workforce ', 'General contractor',
       'Police / Emergency Services', 'Consumer retail',
       'Home and living', 'Non Profit Organization', 'Air transpo',
       'Distribution ', 'None for now', 'Retails', 'Digital Marketing ',
       'Homelessness', 'Retail ', 'Direct Marketing', 'FMCG',
       'Taking bootcamp', 'Space & Defense', 'Automobile (cars)',
       'Interning in Sciences, Weather and Meteorological data',
       'Beverage and foods', 'Transportation'], dtype=object)

In [23]:
industry_to_replace={'Clean Energy':'Energy',
                     'Automotive ':'Automotive',
                     'Manufacturing (Chemicals)':'Manufacturing',
                     'Manufa':'Manufacturing',
                     'Currently studying . Previously worked in Power Generation':'Not working yet',
                     'Not working at the moment, but previously I have been into Education industry':'Not working yet',
                     'Third Party Logistics ':'Logistics',
                     'Advertising':'Marketing',
                     'Semiconductor manufacturing':'Manufacturing',
                      'Supply Chain - warehousing, transpiration and ':'Logistics',
                     'Distribution':'Logistics',
                     'Customer Service':'Marketing',
                      'Ecom':'Marketing',
                     'Consulti':'Consulting',
                     'State Government':'Government',
                     'Cons':'Construction',
                     'Wholesale':'Logistics',
                     'Energy ':'Energy',
                     'Government programs':'Government',
                      'Supply Chain':'Logistics',
                     'Aerospace':'Aviation',
                     'Foodservice Franchising':'Beverage and foods',
                     'Government ':'Government',
                     'Entertainment ':'Entertainment',
                     'Energy (oil and gas)':'Energy',
                     'Chemical Manufacturing':'Manufacturing',
                     'Customer service ':'Marketing',
                     ' Manufacturering ':'Manufacturing',
                     'fashion/online store':'Marketing',
                      'Marketing ': 'Marketing',
                     'Hospitality ':'Hospitality',
                     'Poultry':'Agriculture',
                     'Medical industry ':'Healthcare',
                      'Warehouse':'Logistics',
                     'Non profit Animal Welfare':'Agriculture',
                     'Insurance ':'Insurance',
                     'E-commerce':'Marketing',
                     'IT':'Tech',
                     'Media & advertising ':'Marketing',
                     'sports':'Sports',
                     'Sports/Marketing':'Marketing',
                     'last mile delivery logistics':'Logistics',
                     'Arrosp':'Aviation',
                     'i`m currently student':'Student',
                     'I am a student':'Student',
                     'Manuf':'Manufacturing',
                     'Automobile Industry':'Automotive',
                     'Fmcg':'Marketing',
                     'NGO - Legislation ':'Logistics',
                     'Culinary':'Marketing',
                     'I am student.':'Student', 
                     'Home maker ':'Real Estate',
                     'Digital Mar':'Tech',
                     'Unemployed, trying to switch career':'Not working yet',
                     'Ecommerce':'Marketing',
                     'Logistics and warehousing':'Logistics',
                     'Looking for job':'Not working yet',
                     'Food and bece':'Beverage and foods',
                     'Research (non-clincial)':'Researcher',
                     'Gover':'Government',
                     'Foodservice':'Beverage and foods',
                     'Data insights company':'Tech',
                     'Not currently working':'Not working yet',
                     'Food and Beverages':'Beverage and foods',
                     'Government Administration':'Government',
                     'Outsourcing ':'Outsourcing',
                     'General contractor':'Construction',
                     'Police / Emergency Services':'Law Enforcement',
                     'Consumer retail':'Marketing',
                     'Air transpo':'Aviation',
                     'Distribution ':'Logistics',
                     'None for now':'Not working yet',
                     'Retails':'Marketing',
                     'Direct Marketing':'Marketing',
                     'FMCG':'Marketing',
                     'Digital Marketing ':'Marketing',
                     'Retail ':'Marketing',
                     'Automobile (cars)':'Automotive',
                     'Beverage and foods':'Beverage and foods',
                     'Space & Defense':'Defense',
                     'Utili':'Utilities',
                     'Utilities ':'Utilities',
                     'Audit Firm':'Professional Services',
                     'Outsourcing':'Professional Services',
                     'Food & Beverage ':'Beverage and foods',
                     'Public transport':'Transportation',
                     'Retail':'Marketing',
                     'Staffing and Recruting ':'Professional Services',
                     'Oil and gas':'Energy',
                     'Utilities ':'Utilities',
                      'I am student. ':'Student',
                     'hospitality':'Hospitality',
                     'none':'None',
                     'Consumer Elec':'Electronics',
                     'Avia':'Aviation',
                     'Market research':'Researcher',
                     'Nonprofit':'Nonprofit',
                     'Igaming':'Tech',
                     'Reta':'Marketing'
                     }
df['industry']=df['industry'].replace(industry_to_replace)

In [24]:
df['industry'].unique()

array(['Healthcare', 'Finance', 'Energy', 'Coworking space ', 'Marketing',
       'Telecommunication', 'Logistics', 'Tech', 'Education',
       'Construction', 'Aviation', 'Insurance', 'Other (Please Specify)',
       'Automotive', 'Utilities', 'Not working yet', 'Manufacturing',
       'Beverage and foods', 'Professional Services', 'Biotech',
       'Consulting', 'Electronics', 'Government', 'Culture',
       'Entertainment', 'Researcher', 'Hospitality', 'Real Estate',
       'Agriculture', 'Renewable Resources', 'Sports', 'Student',
       'Management', 'None', 'Social work ', 'Legal', 'Nonprofit',
       'Law Enforcement', 'Demography and Social Statistics ',
       'Customer support ', 'Cosmetics ', 'Maritime', 'Transportation',
       'Urbanism', 'State', 'Sensors', 'Defense', 'Outsourcing',
       'Cobsukting', 'Workforce ', 'Home and living',
       'Non Profit Organization', 'Homelessness', 'Taking bootcamp',
       'Interning in Sciences, Weather and Meteorological data'],
      dtype=object)

In [25]:
df['programming_language'].unique()

array(['Python', 'R', 'Other:SQL',
       'Other:Mostly use sql but that\x92s not programming language..',
       'Other:Qlik sense script', 'Other:sql', 'Other:Power bi',
       'JavaScript',
       "Other:If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python",
       'C/C++', 'Other:I don\x92t know any', 'Other:Sql',
       'Other:Dont require', 'Other',
       'Other:Knowledge of Excel and SQL yet',
       "Other:I don't use programming in my role", 'Other:Excel/SQL',
       'Other:unknown', 'Other:SQL Postgres ', 'Other:DAX', 'Other:Vba',
       'Other:Stata', 'Other:Excel',
       'Other:I currently do not work with programming languages yet',
       'Other:Altery', 'Other:None', 'Other:c#', 'Other:SQL ',
       'Other:Just started learning ',
       'Other:i mean, i mostly work in SQL and its variants?', 'Java',
       'Other:SAS', 'Other:NA', 'Other:Mainly use Excel',
       'Other:SQL because that is all I know really well so far. ',
       'Other:VBA', 'Other:MATLAB', 'Other:Sql &  plsql', 'Other:Php',
       'Other:SAS SQL', 'Other:None at the moment', 'Other:excel',
       'Other:I do analysis and create presentations based on datasets provided by others'],
      dtype=object)

In [26]:
df['programming_language'] = df['programming_language'].str.replace(r'Other:', '')

In [27]:
df['programming_language'].unique()

array(['Python', 'R', 'SQL',
       'Mostly use sql but that\x92s not programming language..',
       'Qlik sense script', 'sql', 'Power bi', 'JavaScript',
       "If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python",
       'C/C++', 'I don\x92t know any', 'Sql', 'Dont require', 'Other',
       'Knowledge of Excel and SQL yet',
       "I don't use programming in my role", 'Excel/SQL', 'unknown',
       'SQL Postgres ', 'DAX', 'Vba', 'Stata', 'Excel',
       'I currently do not work with programming languages yet', 'Altery',
       'None', 'c#', 'SQL ', 'Just started learning ',
       'i mean, i mostly work in SQL and its variants?', 'Java', 'SAS',
       'NA', 'Mainly use Excel',
       'SQL because that is all I know really well so far. ', 'VBA',
       'MATLAB', 'Sql &  plsql', 'Php', 'SAS SQL', 'None at the moment',
       'excel',
       'I do analysis and create presentations based on datasets provided by others'],
      dtype=object)

In [28]:
programming_language_to_replace={'Mostly use sql but that\x92s not programming language..':'SQL',
                                 'sql':'SQL',
                                  "If SQL is categorised as a programming language then I will definitely say SQL. Since I am still learning, I can't give a definite answer in relation to the abover mentioned but for the sake of choosing I will say R then followed by python":'SQL',
                                 'I don\x92t know any':'None',
                                 'Sql':'SQL','Dont require':'None',
                                 'Knowledge of Excel and SQL yet':'Excel and SQL',
                                 "I don't use programming in my role":'None',
                                 'Excel/SQL':'Excel and SQL',
                                 'unknown':'None',
                                 'SQL Postgres ':'SQL',
                                 'I currently do not work with programming languages yet':'None',
                                 'Altery':'Alteryx',
                                 'SQL ':'SQL',
                                 'Just started learning ':'None',
                                  'i mean, i mostly work in SQL and its variants?':'SQL',
                                 'Java':'JavaScript',
                                 'NA':'None',
                                 'Mainly use Excel':'Excel',
                                 'SQL because that is all I know really well so far. ':'SQL',
                                 'Vba':'VBA',
                                 'Sql &  plsql':'SQL',
                                 'SAS SQL':'SAS and SQL',
                                 'None at the moment':'None',
                                 'excel':'Excel',
                                 'I do analysis and create presentations based on datasets provided by others':'None',
                                  }
df['programming_language']=df['programming_language'].replace(programming_language_to_replace)

In [29]:
df['programming_language'].unique()

array(['Python', 'R', 'SQL', 'Qlik sense script', 'Power bi',
       'JavaScript', 'C/C++', 'None', 'Other', 'Excel and SQL', 'DAX',
       'VBA', 'Stata', 'Excel', 'Alteryx', 'c#', 'SAS', 'MATLAB', 'Php',
       'SAS and SQL'], dtype=object)

In [30]:
df['happiness_position'].unique()

array([ 9.,  1.,  0., 10.,  2.,  4.,  3.,  7.,  5.,  6.,  8., nan])

In [31]:
df['happiness_work/life_balace'].unique()

array([ 9.,  2.,  8.,  6.,  4.,  3.,  5.,  0., 10.,  1.,  7., nan])

In [32]:
df['hapinnes_coworkres'].unique()

array([ 7.,  5.,  4.,  3.,  6.,  8., 10.,  9.,  2.,  1.,  0., nan])

In [33]:
df['happiness_management'].unique()

array([ 5.,  2., 10.,  4.,  3.,  6.,  8.,  9.,  7.,  1.,  0., nan])

In [34]:
df['happiness_upward_mobility'].unique()

array([ 5.,  1.,  7.,  0.,  3.,  6.,  8.,  4.,  2., 10.,  9., nan])

In [35]:
df['happiness_learning'].unique()

array([ 7.,  3., 10.,  1.,  2.,  5.,  9.,  4.,  8.,  0.,  6., nan])

In [36]:
df['difficulty'].unique()

array(['Very Difficult', 'Easy', 'Very Easy', 'Difficult',
       'Neither easy nor difficult'], dtype=object)

In [37]:
df['important_new_job'].unique()

array(['Remote Work', 'Good Work/Life Balance', 'Better Salary',
       'Good Culture', 'Other (Please Specify):Responsibilities',
       'Other (Please Specify):Development',
       'Other (Please Specify):Strong organizational data strategy, high-performing team',
       'Other (Please Specify):I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth',
       'Other (Please Specify):Currently very happy with where I am.',
       'Other (Please Specify):My passion is to become a Data analyst ',
       'Other (Please Specify):Different job title, either product owner or consulting',
       'Other (Please Specify):Opportunity for advancement ',
       'Other (Please Specify):Want to move from Australia to Canada, so position in desired country ',
       'Other (Please Specify):All of the options are important to me when looking for a new job',
       'Other (Please Specify):Both Good work / life Balance and Good Culture',
       'Other (Please Specify):an environment that encourages growth like where I work currently and better salary ',
       'Other (Please Specify):Learning possibilities',
       'Other (Please Specify):Opportunities for growth ',
       'Other (Please Specify):I just started and I don\'t like programming so much, so I would search for a more "impactiful" role. Meaning: being able to take decisions that steer the business.',
       'Other (Please Specify):Good opportunities in projects and learnjng',
       'Other (Please Specify):Projects I\x92m interested in',
       'Other (Please Specify):Mentorship from leading Data Analyst',
       'Other (Please Specify):Intresting work',
       'Other (Please Specify):Mix of better salary, good work/life balance, remote work and good culture',
       'Other (Please Specify):Learning opportunity',
       'Other (Please Specify):Learning New Things',
       'Other (Please Specify):Salary and expo',
       'Other (Please Specify):In office work',
       'Other (Please Specify):Learning new skills',
       'Other (Please Specify):Challenging / exciting problems',
       'Other (Please Specify):All of the above',
       'Other (Please Specify):Data Maturity',
       'Other (Please Specify):Opportunity to learn',
       'Other (Please Specify):Better work & remote salary',
       'Other (Please Specify):The work',
       'Other (Please Specify):Remote too',
       'Other (Please Specify):Collaboration ',
       'Other (Please Specify):Better Tech Stack',
       'Other (Please Specify):Career Advancedment'], dtype=object)

In [38]:
df['important_new_job'] = df['important_new_job'].str.replace(r'Other \(Please Specify\):', '')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\658753477.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['important_new_job'] = df['important_new_job'].str.replace(r'Other \(Please Specify\):', '')

In [39]:
df['important_new_job'].unique()

array(['Remote Work', 'Good Work/Life Balance', 'Better Salary',
       'Good Culture', 'Responsibilities', 'Development',
       'Strong organizational data strategy, high-performing team',
       'I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth',
       'Currently very happy with where I am.',
       'My passion is to become a Data analyst ',
       'Different job title, either product owner or consulting',
       'Opportunity for advancement ',
       'Want to move from Australia to Canada, so position in desired country ',
       'All of the options are important to me when looking for a new job',
       'Both Good work / life Balance and Good Culture',
       'an environment that encourages growth like where I work currently and better salary ',
       'Learning possibilities', 'Opportunities for growth ',
       'I just started and I don\'t like programming so much, so I would search for a more "impactiful" role. Meaning: being able to take decisions that steer the business.',
       'Good opportunities in projects and learnjng',
       'Projects I\x92m interested in',
       'Mentorship from leading Data Analyst', 'Intresting work',
       'Mix of better salary, good work/life balance, remote work and good culture',
       'Learning opportunity', 'Learning New Things', 'Salary and expo',
       'In office work', 'Learning new skills',
       'Challenging / exciting problems', 'All of the above',
       'Data Maturity', 'Opportunity to learn',
       'Better work & remote salary', 'The work', 'Remote too',
       'Collaboration ', 'Better Tech Stack', 'Career Advancedment'],
      dtype=object)

In [40]:
important_new_job_to_replace={'I would say a combination of good work/life balance with a better pay and the exposure to a workplace that supposed growth':'Good Work/Life Balance & Better Salary & high-performing team',
                              'Strong organizational data strategy, high-performing team':'Strong organizational data strategy & high-performing team',
                              'Both Good work / life Balance and Good Culture':'Good Work/Life Balance and Good Culture',
                              'an environment that encourages growth like where I work currently and better salary ':'Opportunities for growth & Better Salary',
                              'Opportunities for growth ':'Opportunities for growth',
                              'Different job title, either product owner or consulting':'Different job title',
                               'I just started and I don\'t like programming so much, so I would search for a more "impactiful" role. Meaning: being able to take decisions that steer the business.':'Different job title',
                              'Good opportunities in projects and learnjng':'Opportunity for advancement',
                              'Opportunity for advancement ':'Opportunity for advancement',
                              'Mix of better salary, good work/life balance, remote work and good culture':'Better Salary, Good work/Life balance, Remote Work and Good Culture',
                              'Learning opportunity':'Learning possibilities',
                              'Learning New Things':'Learning possibilities',
                              'Salary and expo':'Better Salary',
                              'Learning new skills':'Learning possibilities',
                              'Opportunity to learn':'Learning possibilities',
                              'Better work & remote salary':'Better work & Remote Salary',
                              'Remote too':'Remote Work',
                              'Career Advancedment':'Opportunity for advancement',
                              'All of the options are important to me when looking for a new job':'All of the above',
                               'Good work  life Balance and Good Culture': 'Good work/life Balance and Good Culture',
                              'Opportunities for growth':'Opportunity for advancement'
                                }
df['important_new_job']=df['important_new_job'].replace(important_new_job_to_replace)

In [41]:
df['important_new_job'].unique()

array(['Remote Work', 'Good Work/Life Balance', 'Better Salary',
       'Good Culture', 'Responsibilities', 'Development',
       'Strong organizational data strategy & high-performing team',
       'Good Work/Life Balance & Better Salary & high-performing team',
       'Currently very happy with where I am.',
       'My passion is to become a Data analyst ', 'Different job title',
       'Opportunity for advancement',
       'Want to move from Australia to Canada, so position in desired country ',
       'All of the above', 'Good Work/Life Balance and Good Culture',
       'Opportunities for growth & Better Salary',
       'Learning possibilities', 'Opportunities for growth',
       'Projects I\x92m interested in',
       'Mentorship from leading Data Analyst', 'Intresting work',
       'Better Salary, Good work/Life balance, Remote Work and Good Culture',
       'In office work', 'Challenging / exciting problems',
       'Data Maturity', 'Better work & Remote Salary', 'The work',
       'Collaboration ', 'Better Tech Stack'], dtype=object)

In [42]:
df['sex'].unique()

array(['Male', 'Female'], dtype=object)

In [43]:
df['age'].unique()

array([26, 36, 23, 35, 44, 33, 24, 28, 37, 32, 34, 30, 31, 29, 22, 43, 25,
       42, 40, 41, 38, 21, 27, 39, 51, 55, 45, 52, 50, 56, 20, 47, 54, 19,
       92, 60, 53, 18, 48, 58, 66], dtype=int64)

In [44]:
df['country'].unique()

array(['United States', 'Canada', 'Other (Please Specify):Nigeria',
       'Other (Please Specify):Republic democratic of Congo ',
       'Other (Please Specify)', 'Other (Please Specify):Serbia',
       'Other (Please Specify):Argentina', 'United Kingdom',
       'Other (Please Specify):Niger', 'Other (Please Specify):Kenya',
       'Other (Please Specify):Azerbaijan',
       'Other (Please Specify):Sudan', 'India',
       'Other (Please Specify):Japan', 'Other (Please Specify):Greece',
       'Other (Please Specify):Perú ', 'Other (Please Specify):Australia',
       'Other (Please Specify):Spain', 'Other (Please Specify):Kenya ',
       'Other (Please Specify):Barbados',
       'Other (Please Specify):South Africa',
       'Other (Please Specify):Colombia',
       'Other (Please Specify):Germany',
       'Other (Please Specify):Bulgaria', 'Other (Please Specify):Turkey',
       'Other (Please Specify):France', 'Other (Please Specify):Thailand',
       'Other (Please Specify):Netherlands',
       'Other (Please Specify):Denmark', 'Other (Please Specify):Brazil',
       'Other (Please Specify):Mexico', 'Other (Please Specify):Chile',
       'Other (Please Specify):Costa Rica',
       'Other (Please Specify):Vietnam',
       'Other (Please Specify):Nigeria ',
       'Other (Please Specify):Portugal', 'Other (Please Specify):turkey',
       'Other (Please Specify):Egypt', 'Other (Please Specify):Pakistan',
       'Other (Please Specify):Ireland ', 'Other (Please Specify):Poland',
       'Other (Please Specify):Mozambique',
       'Other (Please Specify):Egypt ', 'Other (Please Specify):Israel',
       'Other (Please Specify):Singapore',
       'Other (Please Specify):Belgium', 'Other (Please Specify):UAE',
       'Other (Please Specify): Somalia', 'Other (Please Specify):Kosovo',
       'Other (Please Specify):Iraq', 'Other (Please Specify):Romania',
       'Other (Please Specify):Peru',
       'Other (Please Specify):Philippines',
       'Other (Please Specify):Malaysia',
       'Other (Please Specify):nigeria', 'Other (Please Specify):Ghana',
       'Other (Please Specify):Portugsl',
       'Other (Please Specify):Macedonia', 'Other (Please Specify):Irel',
       'Other (Please Specify):Morocco',
       'Other (Please Specify):Costa Rica ',
       'Other (Please Specify):Iran',
       'Other (Please Specify):South Africa ',
       'Other (Please Specify):Bangladesh ', 'Other (Please Specify):Ire',
       'Other (Please Specify):Antigua ',
       'Other (Please Specify):Venezuela',
       'Other (Please Specify):Brazik',
       'Other (Please Specify):South Korea',
       'Other (Please Specify):Panama',
       'Other (Please Specify):indonesia',
       'Other (Please Specify):Angola',
       'Other (Please Specify):Africa (Nigeria)',
       'Other (Please Specify):Fin', 'Other (Please Specify):Austr',
       'Other (Please Specify):Leba',
       'Other (Please Specify):Saudi Arabia',
       'Other (Please Specify):United Arab Emirates ',
       'Other (Please Specify):Zambia', 'Other (Please Specify):ghana',
       'Other (Please Specify):Uruguay',
       'Other (Please Specify):Indonesia',
       'Other (Please Specify):Hong Kong',
       'Other (Please Specify):TUNISIA',
       'Other (Please Specify):Sri lanka', 'Other (Please Specify):Kenua',
       'Other (Please Specify):Argentina ',
       'Other (Please Specify):Liberia', 'Other (Please Specify):SG',
       'Other (Please Specify):Aisa', 'Other (Please Specify):Argentine',
       'Other (Please Specify):Sweden',
       'Other (Please Specify):Saudi Arabia ',
       'Other (Please Specify):Algeria', 'Other (Please Specify):Ireland',
       'Other (Please Specify):uzb', 'Other (Please Specify):Morocco ',
       'Other (Please Specify):Oman'], dtype=object)

In [45]:
df['country'] = df['country'].str.replace(r'Other \(Please Specify\):', '')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\649604405.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['country'] = df['country'].str.replace(r'Other \(Please Specify\):', '')

In [46]:
df['country'].unique()

array(['United States', 'Canada', 'Nigeria',
       'Republic democratic of Congo ', 'Other (Please Specify)',
       'Serbia', 'Argentina', 'United Kingdom', 'Niger', 'Kenya',
       'Azerbaijan', 'Sudan', 'India', 'Japan', 'Greece', 'Perú ',
       'Australia', 'Spain', 'Kenya ', 'Barbados', 'South Africa',
       'Colombia', 'Germany', 'Bulgaria', 'Turkey', 'France', 'Thailand',
       'Netherlands', 'Denmark', 'Brazil', 'Mexico', 'Chile',
       'Costa Rica', 'Vietnam', 'Nigeria ', 'Portugal', 'turkey', 'Egypt',
       'Pakistan', 'Ireland ', 'Poland', 'Mozambique', 'Egypt ', 'Israel',
       'Singapore', 'Belgium', 'UAE', ' Somalia', 'Kosovo', 'Iraq',
       'Romania', 'Peru', 'Philippines', 'Malaysia', 'nigeria', 'Ghana',
       'Portugsl', 'Macedonia', 'Irel', 'Morocco', 'Costa Rica ', 'Iran',
       'South Africa ', 'Bangladesh ', 'Ire', 'Antigua ', 'Venezuela',
       'Brazik', 'South Korea', 'Panama', 'indonesia', 'Angola',
       'Africa (Nigeria)', 'Fin', 'Austr', 'Leba', 'Saudi Arabia',
       'United Arab Emirates ', 'Zambia', 'ghana', 'Uruguay', 'Indonesia',
       'Hong Kong', 'TUNISIA', 'Sri lanka', 'Kenua', 'Argentina ',
       'Liberia', 'SG', 'Aisa', 'Argentine', 'Sweden', 'Saudi Arabia ',
       'Algeria', 'Ireland', 'uzb', 'Morocco ', 'Oman'], dtype=object)

In [58]:
country_to_replace={'Kenya ':'Kenya',
                    'Nigeria ':'Nigeria',
                    'turkey':'Turkey',
                    'Egypt ':'Egypt',
                    'Perú ':'Peru',
                    'nigeria':'Nigeria',
                    'Portugsl':'Portugal',
                    'Costa Rica ':'Costa Rica',
                    'Irel':'Ireland',
                    'South Africa ':'South Africa',
                    'indonesia':'Indonesia',
                    'Brazik':'Brazil',
                    'Africa (Nigeria)':'Nigeria',
                    'ghana':'Ghana',
                    'UAE':'United Arab Emirates',
                    'United Arab Emirates ':'United Arab Emirates',
                    'TUNISIA':'Tunisia',
                    'Saudi Arabia ':'Saudi Arabia',
                    'Austr':'Australia',
                    'Argentine':'Argentina',
                    'Kenua':'Kenya',
                    'Argentina ':'Argentina',
                     'Ireland ': 'Ireland',
                    'Leba':'Lybia',
                    'Morocco ':'Morocco',
                    'Ire':'Ireland'
                   }
df['country']=df['country'].replace(country_to_replace)

In [48]:
df['country'].unique()

array(['United States', 'Canada', 'Nigeria',
       'Republic democratic of Congo ', 'Other (Please Specify)',
       'Serbia', 'Argentina', 'United Kingdom', 'Niger', 'Kenya',
       'Azerbaijan', 'Sudan', 'India', 'Japan', 'Greece', 'Peru',
       'Australia', 'Spain', 'Barbados', 'South Africa', 'Colombia',
       'Germany', 'Bulgaria', 'Turkey', 'France', 'Thailand',
       'Netherlands', 'Denmark', 'Brazil', 'Mexico', 'Chile',
       'Costa Rica', 'Vietnam', 'Portugal', 'Egypt', 'Pakistan',
       'Ireland', 'Poland', 'Mozambique', 'Israel', 'Singapore',
       'Belgium', 'United Arab Emirates', ' Somalia', 'Kosovo', 'Iraq',
       'Romania', 'Philippines', 'Malaysia', 'Ghana', 'Macedonia', 'Iran',
       'Morocco', 'Bangladesh ', 'Antigua ', 'Venezuela', 'South Korea',
       'Panama', 'Indonesia', 'Angola', 'Fin', 'Lybia', 'Saudi Arabia',
       'Zambia', 'Uruguay', 'Hong Kong', 'Tunisia', 'Sri lanka',
       'Liberia', 'SG', 'Aisa', 'Sweden', 'Algeria', 'uzb', 'Oman'],
      dtype=object)

In [49]:
df['education'].unique()

array([nan, 'High School', 'Bachelors', 'Masters', 'Associates', 'PhD'],
      dtype=object)

In [50]:
df['ethnicity'].unique()

array(['White or Caucasian', 'Asian or Asian American',
       'Black or African American', 'Hispanic or Latino',
       'Other (Please Specify):Latino with Italian roots',
       'Other (Please Specify):African',
       'Other (Please Specify):South Asian',
       'Other (Please Specify):Indian',
       'Other (Please Specify):Kenyan African ',
       'Other (Please Specify):Black African, Zimbabwean Citizen',
       'Other (Please Specify):Human',
       "Other (Please Specify):Race isn't a thing",
       'Other (Please Specify):Middleeas',
       'Other (Please Specify):Mixed ( Caucasian / African-American )',
       'Other (Please Specify):Half Asian half African ',
       'Other (Please Specify):Brown',
       'Other (Please Specify):Prefer not to ans',
       'Other (Please Specify):N/A', 'Other (Please Specify):African ',
       'Other (Please Specify)', 'Other (Please Specify):Kurdish',
       'Native Hawaiian or other Pacific Islander',
       'Other (Please Specify):Bangladeshi',
       'Other (Please Specify):Pakistani',
       'Other (Please Specify):Russian', 'Other (Please Specify):Egyp',
       'Other (Please Specify):Half black and half white',
       'Other (Please Specify):7', 'Other (Please Specify):Bla',
       'Other (Please Specify):Moroccan',
       'Other (Please Specify):Indian ', 'Other (Please Specify):Arab ',
       'Other (Please Specify):Sudanese African ',
       'American Indian or Alaska Native',
       'Other (Please Specify):Bi-racial people should be able to check 2 options in 2022. ',
       'Other (Please Specify):Melayu',
       'Other (Please Specify):Dravidian', 'Other (Please Specify):arab',
       'Other (Please Specify):Asian',
       'Other (Please Specify):South Indian ',
       'Other (Please Specify):Greek', 'Other (Please Specify):Nigeria',
       'Other (Please Specify):Arab',
       'Other (Please Specify):Arabian (from Maghreb)',
       'Other (Please Specify):Malay'], dtype=object)

In [51]:
df['ethnicity'] = df['ethnicity'].str.replace(r'Other \(Please Specify\):', '')

C:\Users\Richard\AppData\Local\Temp\ipykernel_520\1759641943.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['ethnicity'] = df['ethnicity'].str.replace(r'Other \(Please Specify\):', '')

In [52]:
df['ethnicity'].unique()

array(['White or Caucasian', 'Asian or Asian American',
       'Black or African American', 'Hispanic or Latino',
       'Latino with Italian roots', 'African', 'South Asian', 'Indian',
       'Kenyan African ', 'Black African, Zimbabwean Citizen', 'Human',
       "Race isn't a thing", 'Middleeas',
       'Mixed ( Caucasian / African-American )',
       'Half Asian half African ', 'Brown', 'Prefer not to ans', 'N/A',
       'African ', 'Other (Please Specify)', 'Kurdish',
       'Native Hawaiian or other Pacific Islander', 'Bangladeshi',
       'Pakistani', 'Russian', 'Egyp', 'Half black and half white', '7',
       'Bla', 'Moroccan', 'Indian ', 'Arab ', 'Sudanese African ',
       'American Indian or Alaska Native',
       'Bi-racial people should be able to check 2 options in 2022. ',
       'Melayu', 'Dravidian', 'arab', 'Asian', 'South Indian ', 'Greek',
       'Nigeria', 'Arab', 'Arabian (from Maghreb)', 'Malay'], dtype=object)

In [53]:
ethnicity_to_replace={'Kenyan African ':'African',
                      'Black African, Zimbabwean Citizen':'African',
                      'Middleeas':'Middleeast',
                      "Race isn't a thing":'N/A',
                      'Human':'N/A',
                      'African ':'African',
                      'Egyp':'African',
                      'Half black and half white':'Mixed ( Caucasian / African-American )',
                      '7':'N/A',
                      'Bla':'African',
                      'Sudanese African ':'African',
                      'Moroccan':'African',
                      'Nigeria':'African',
                      'Prefer not to ans':'N/A',
                       }
df['ethnicity']=df['ethnicity'].replace(ethnicity_to_replace)

In [54]:
df['ethnicity'].unique()

array(['White or Caucasian', 'Asian or Asian American',
       'Black or African American', 'Hispanic or Latino',
       'Latino with Italian roots', 'African', 'South Asian', 'Indian',
       'N/A', 'Middleeast', 'Mixed ( Caucasian / African-American )',
       'Half Asian half African ', 'Brown', 'Other (Please Specify)',
       'Kurdish', 'Native Hawaiian or other Pacific Islander',
       'Bangladeshi', 'Pakistani', 'Russian', 'Indian ', 'Arab ',
       'American Indian or Alaska Native',
       'Bi-racial people should be able to check 2 options in 2022. ',
       'Melayu', 'Dravidian', 'arab', 'Asian', 'South Indian ', 'Greek',
       'Arab', 'Arabian (from Maghreb)', 'Malay'], dtype=object)

In [55]:
df

,role,switch_careers,salary,industry,programming_language,happiness_position,happiness_work/life_balace,hapinnes_coworkres,happiness_management,happiness_upward_mobility,happiness_learning,difficulty,important_new_job,sex,age,country,education,ethnicity
0,Data Analyst,Yes,106k-125k,Healthcare,Python,9.0,9.0,7.0,5.0,5.0,7.0,Very Difficult,Remote Work,Male,26,United States,NaN,White or Caucasian
1,Data Analyst,No,41k-65k,Finance,R,1.0,2.0,5.0,2.0,1.0,3.0,Very Difficult,Remote Work,Male,36,Canada,NaN,Asian or Asian American
2,Data Engineer,No,0-40k,Energy,Python,0.0,8.0,7.0,5.0,7.0,7.0,Easy,Good Work/Life Balance,Male,23,Nigeria,NaN,Black or African American
3,Analytics Consultant,Yes,150k-225k,Finance,R,10.0,6.0,7.0,10.0,7.0,10.0,Very Easy,Remote Work,Female,35,Canada,NaN,White or Caucasian
4,Data Analyst,Yes,41k-65k,Healthcare,R,1.0,4.0,4.0,4.0,0.0,1.0,Difficult,Better Salary,Male,44,United States,NaN,Black or African American
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625,Data Analyst,Yes,125k-150k,Marketing,R,8.0,5.0,6.0,6.0,5.0,7.0,Easy,Better Salary,Male,26,United States,Bachelors,White or Caucasian
626,Data Scientist,No,0-40k,Manufacturing,R,4.0,6.0,7.0,7.0,4.0,6.0,Difficult,Better Salary,Male,21,United States,Bachelors,White or Caucasian
627,Student/Looking/None,Yes,0-40k,Tech,Python,1.0,2.0,1.0,2.0,1.0,2.0,Difficult,Better Salary,Male,26,Oman,Bachelors,Asian or Asian American
628,Data Engineer,No,0-40k,Tech,Python,6.0,6.0,6.0,6.0,4.0,3.0,Easy,Opportunity for advancement,Male,24,Costa Rica,Bachelors,Hispanic or Latino
629,Data Analyst,No,41k-65k,Automotive,Python,8.0,7.0,6.0,7.0,6.0,8.0,Easy,Remote Work,Male,22,United States,Bachelors,Asian or Asian American

In [56]:
df['salary'].unique()

array(['106k-125k', '41k-65k', '0-40k', '150k-225k', '125k-150k',
       '86k-105k', '66k-85k', '225k+'], dtype=object)

In [57]:
# what roles had the highest salary
role_salary=df[['role','salary']].groupby('role')
role_salary

In [59]:
df.to_csv('clean_professional_survey.csv',index=False)